$redColor: #E20714;
$beardedColor: #9A0000;
$textColor: #33353F;

%linerBackground {
    background: var(--red-gradient-color, linear-gradient(180deg, #F00 0%, #9A0000 100%));
}

%button {
    font-size: 1rem;
    padding: 0.5rem;

    font-weight: 500;

    color: white;
    @extend %linerBackground;
    border-radius: 0.4rem;

    transition-duration: 0.2s;

    &:hover {
        box-shadow: -6px -7px 7px 0px rgba(0, 0, 0, 0.18) inset;
    }
}
